# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
dist-ssr/

# Local env & cache
.env.local
.env.*.local
*.local
.vite/
.wrangler/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
